.container-hero::before {
  content: "";
  position: absolute;
  inset: 0; 
  background-image: url("../../public/bannerhero.jpg");
  background-size:cover;
  object-fit: cover;      
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: brightness(40%);
  z-index: -1; 
}





